
<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="#002477" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">


<title>Freelance Writing Jobs Online | Academic Writing Jobs - Elite NerdyTurtlez.Com </title>

<meta name="description" content="Do you want to work as a freelance writer? For all types of Freelance Academic Writing Jobs, expert writers may turn to Elite Nerdyturtlez.Com.">
<meta name="keywords" content="freelance writing jobs, online writing jobs, freelance writing jobs online, writing jobs online, freelance writing gigs, jobs for writers, academic writing jobs, online freelance writing jobs, online academic writing jobs">
<!--<link rel="icon" type="image/x-icon" href="https://nerdyturtlez.com/assets/logo/favicon.ico">

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap" rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap"></noscript>

<link href="https://nerdyturtlez.com/assets/css/index.css" rel="stylesheet">
<link href="https://nerdyturtlez.com/assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<script src="https://nerdyturtlez.com/assets/js/vendor/jquery.js"></script>
<script src="https://nerdyturtlez.com/assets/js/vendor/jstz.min.js"></script>
<script>
        
</head>
<body>
<div id="scroll-container">
<div class="page_loader_ar">
<div class="page_loader">

<div class="loading_ldr">Loading...</div>

</div>
</div>
<script src="https://nerdyturtlez.com/assets/js/loader.js"></script>
<header>
<div class="container">
<div class="row justify-content-between">

<div class="col">
<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>

 <span class="h1 fw-bold mb-0">Elite Nerdy Turtles</span>
</div>
<div class="col headerRight">
<span ><a  class="hello-msg" href="{% url 'login' %}">Login</a></span>
</a>
</div>
</div>
</div>
</header>
<section class="banner">
<div class="caption">
<div class="container">
<div class="d-flex main_cont">
<div class="left_panel">
<h2>Did you Know You Can polish your Writing Skills While Earning?</h2>
<h1 class="h1">Grab The Opportunity</h1>
<ul class="step_ui">
<li class="a"><span></span>Register</li>
<li class="b"><span></span>Train</li>
<li class="c"><span></span>Write</li>
<li class="d"><span></span>Earn</li>
</ul>
<button onclick="window.open({% url 'signup' %}, '_blank')" type="button" class="btn_primary">Sign Up</button>
</div>
<div class="right_panel">


<title>Wave</title>
<defs>
<linearGradient id="gradient2" x1="0.5" y1="-1.216" x2="0.5" y2="0.761">
<stop offset="0%" stop-color="#0fc7b6" stop-opacity="1" />
<stop offset="100%" stop-color="#fff" />
</linearGradient>
</defs>
<path id="feel-the-wave1" d="" />
</svg>
<svg width="100%" class="bg_wave_footer11" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
<title>Wave</title>
<defs>
<linearGradient id="gradient2_m" x1="0.5" y1="-1.216" x2="0.5" y2="0.361">
<stop offset="0%" stop-color="#0fc7b6" stop-opacity="1" />
<stop offset="100%" stop-color="#fff" />
</linearGradient>
</defs>
<path id="feel-the-wave11" d="" />
</svg> </div>
</section>
<section class="freedom_ar" id="freedom_ar">
<div class="caption">
<div class="container">
<div class="d-flex main_cont justify-content-end">
<div class="right_panel">
<h2 class="subh2">More benefits, much convenience</h2>
<h2 class="h2">Freedom of Work</h2>
<ul class="step_ui">
<li class="a"><span></span>Free sign-up</li>
<li class="b"><span></span>Academic writing</li>
<li class="c"><span></span>Amazing payout</li>
<li class="d"><span></span>Timely payment</li>
<li class="e"><span></span>24x7 Support</li>
</ul>
<div class="btn_ar">
<button onclick="window.open({% url 'signup' %}, '_blank')" type="button" class="btn_primary">Start Now</button>
</div>
</div>
</div>
</div>
</div>

</section>
<section class="prefrnce_ar">
<div class="container">
<h2 class="h">Choose project of your choice</h2>
<h2 class="h2">Pick Your Preference</h2>
<div class="d-flex main_cont">
<div class="left_panel">
<ul class="tabs-block pref_list">
<li class="active" data-menu="1">
<a href="#a" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference1.svg" width="52" height="46" alt="preference" />
</a>
</li>
<li data-menu="2">
<a href="#b" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference2.svg" width="52" height="46" alt="preference" />
</a>
</li>
<li data-menu="3">
<a href="#c" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference3.svg" width="52" height="46" alt="preference" />
</a>
</li>
<li data-menu="4">
<a href="#d" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference4.svg" width="52" height="46" alt="preference" />
</a>
</li>
<li data-menu="5">
<a href="#e" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference5.svg" width="52" height="46" alt="preference" />
</a>
</li>
<li data-menu="6">
<a href="#f" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference6.svg" width="52" height="46" alt="preference" />
</a>
</li>
<li data-menu="7">
<a href="#g" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference7.svg" width="52" height="46" alt="preference" />
</a>
</li>
<li data-menu="8">
<a href="#h" class="pref_ic">
<img src="https://cdn.nerdyturtlez.com/assets/images/preferences/preference8.svg" width="52" height="46" alt="preference" />
</a>
</li>
<div class="label"></div>
</ul>
<div class="article-block">
<div class="article num_1 active in" data-toggle="tab" id="a">
<h4>Academic Writing</h4>
<p>Science, business studies, arts and humanities – no matter what your passion is, you will get the opportunity to pursue it to the fullest by writing quality academic papers for students.</p>
</div>
<div class="article num_2" data-toggle="tab" id="b">
<h4>Copywriting</h4>
<p>Can you make words dance to your tunes and lead to instant conversions with your copywriting skills? We will give you the chance to leave your mark.</p>
</div>
<div class="article num_3" data-toggle="tab" id="c">
<h4>SEO Writing</h4>
<p>If you are keyword maverick and can spin an engaging yarn that delivers exactly what people are looking for, we’ve got enticing projects in store for you.</p>
</div>
<div class="article num_4" data-toggle="tab" id="d">
<h4>Blogging</h4>
<p>Regular blog posts on topics that can blow your mind are what you will get from us. From healthcare to popular media and education, we have projects of all genres.</p>
</div>
<div class="article num_5" data-toggle="tab" id="e">
<h4>Business/Market Report Writing</h4>
<p>If you have a flair for numbers and keep a keen eye on the business affairs all around the world, you will enjoy writing business/market reports for leading brands with us.</p>
</div>
<div class="article num_6" data-toggle="tab" id="f">
<h4>CV/Resume Writing</h4>
<p>Want to help someone build an amazing career for themselves? We’ll give you the opportunity to create job-winning resumes that can secure positions at leading companies.</p>
</div>
<div class="article num_7" data-toggle="tab" id="g">
<h4>Creative Writing</h4>
<p>Do ideas spin out of your head faster than the speed of light? We have a host of creative writing projects for you including story writing, poetry writing and more.</p>
</div>
<div class="article num_8" data-toggle="tab" id="h">
<h4>Infographic Designing</h4>
<p>If representing facts and figures in neatly constructed diagrams and charts is your thing, you will love working with us. We can get you with connected with thousands of clients all over the world.</p>
</div>
</div>
<div class="btn_ar">
<button onclick="window.open({% url 'signup' %}, '_blank')" type="button" class="btn_primary">Start Now</button>
</div>
</div>
<div class="right_panel">
<div class="imgarea">

 </div>
</div>
</div>
</div>
</section>
<section class="boost_ar">
<div class="container">
<div class="hdngs">
<div class="ttls">
<h2 class="h">Join the nerdy family and</h2>
<h2 class="h2">Boost Your Earning</h2>
</div>
</div>
<div class="d-flex main_cont">
<div class="left_panel">
<div class="bst_graph_img_ar">
<svg xmlns="http://www.w3.org/2000/svg" class="bst_graphics" xmlns:xlink="http://www.w3.org/1999/xlink" width="666.959" height="928.381" viewBox="0 0 666.959 928.381">
<defs>
<linearGradient id="linear-gradient-bst" x1="-0.405" y1="-0.512" x2="0.401" y2="0.443" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#333" />
<stop offset="0.528" stop-color="#8d8d8d" />
<stop offset="1" stop-color="#333" />
</linearGradient>
<linearGradient id="linear-gradient-bst-2" x1="1.521" y1="1.841" x2="0.401" y2="0.443" xlink:href="#linear-gradient-bst" />
<linearGradient id="linear-gradient-bst-3" x1="0.415" y1="0.187" x2="0.755" y2="0.74" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#aeaeae" />
<stop offset="0.394" stop-color="#fff" />
<stop offset="1" stop-color="#333" />
</linearGradient>
<linearGradient id="linear-gradient-bst-4" x1="0.87" y1="0.764" x2="0.35" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#333" />
<stop offset="0.515" stop-color="#8d8d8d" />
<stop offset="1" stop-color="#333" />
</linearGradient>
<clipPath id="clip-path-bst">
<path id="Path_974" data-name="Path 974" d="M158.155,43.954C100.338,67.666,48.42,111.8,48.42,111.8a28.27,28.27,0,0,0-6.889,39.384l124.928,177.9a28.271,28.271,0,0,0,39.384,6.889s68.392-48.008,105.844-86.227C385.07,174.864,434.573,75.038,434.636,31.732v-.17c-.01-6.816-1.253-12.218-3.831-15.889C423.4,5.125,399.7.06,367.242.061c-56.507,0-139.523,15.364-209.087,43.893" fill="none" />
</clipPath>
<linearGradient id="linear-gradient-bst-5" x1="0.67" y1="0.671" x2="0.293" y2="0.259" xlink:href="#linear-gradient-bst-4" />
<linearGradient id="linear-gradient-bst-6" x1="0.867" y1="0.557" x2="0.35" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#333" />
<stop offset="0.322" stop-color="#8d8d8d" />
<stop offset="0.747" stop-color="#383838" />
<stop offset="1" stop-color="#333" />
</linearGradient>
<linearGradient id="linear-gradient-bstrocket-11" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#555" />
<stop offset="0.293" stop-color="#969696" />
<stop offset="0.669" stop-color="#454545" />
<stop offset="1" stop-color="#333" />
</linearGradient>
<linearGradient id="linear-gradient-bst-7" x1="0.253" y1="0.091" x2="0.805" y2="0.87" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#333" />
<stop offset="0.499" stop-color="#8d8d8d" />
<stop offset="1" stop-color="#333" />
</linearGradient>
<linearGradient id="linear-gradient-bst-8" x1="0.951" y1="0.845" x2="0.398" y2="0.192" xlink:href="#linear-gradient-bst-4" />
<linearGradient id="linear-gradient-bst-9" x1="0.5" y1="0.394" x2="0.406" y2="0.441" xlink:href="#linear-gradient-bst-4" />
<linearGradient id="linear-gradient-bst-10" x1="0.967" y1="0.165" x2="0.568" y2="0.41" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#0fc7b6" />
<stop offset="1" stop-color="#fff" stop-opacity="0" />
</linearGradient>
<linearGradient id="linear-gradient-bst-11" x1="0.877" y1="0.207" x2="0.578" y2="0.414" xlink:href="#linear-gradient-bst-10" />
<linearGradient id="linear-gradient-bst-12" x1="0.5" y1="0.385" x2="0.5" y2="1.165" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#0fc7b6" stop-opacity="0.478" />
<stop offset="1" stop-color="#fff" stop-opacity="0" />
</linearGradient>
<clipPath id="clip-path-bst-2">
<rect id="Rectangle_243" data-name="Rectangle 243" width="56.213" height="41.217" transform="translate(0 0)" fill="none" />
</clipPath>
<clipPath id="clip-path-bst-3">
<rect id="Rectangle_243-2" data-name="Rectangle 243" width="27.919" height="20.471" transform="translate(0 0)" fill="none" />
</clipPath>
<linearGradient id="linear-gradient-bst-15" x1="0.024" y1="0.486" x2="1.031" y2="0.521" gradientUnits="objectBoundingBox">
<stop offset="0.01" stop-color="#0a8a7d" />
<stop offset="0.17" stop-color="#0b9a8b" />
<stop offset="0.5" stop-color="#0db7a6" />
<stop offset="0.79" stop-color="#0ec8b7" />
<stop offset="1" stop-color="#0fcfbd" />
</linearGradient>
<linearGradient id="linear-gradient-bst-16" x1="0.807" y1="0.136" x2="0.329" y2="0.749" gradientUnits="objectBoundingBox">
<stop offset="0.11" stop-color="#0fd4c1" />
<stop offset="0.36" stop-color="#0ed1be" />
<stop offset="0.55" stop-color="#0ec7b5" />
<stop offset="0.72" stop-color="#0db7a6" />
<stop offset="0.87" stop-color="#0ba092" />
<stop offset="0.99" stop-color="#0a8a7d" />
</linearGradient>
<linearGradient id="linear-gradient-bst-17" x1="0.914" y1="0.5" x2="0.105" y2="0.5" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#0fd4c1" />
<stop offset="0.28" stop-color="#0ed1be" />
<stop offset="0.5" stop-color="#0ec7b5" />
<stop offset="0.68" stop-color="#0db7a6" />
<stop offset="0.86" stop-color="#0ba092" />
<stop offset="0.99" stop-color="#0a8a7d" />
</linearGradient>
<linearGradient id="linear-gradient-bst-18" x1="-4.202" y1="4.792" x2="-7.982" y2="5.676" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#9bacd4" />
<stop offset="0.35" stop-color="#98a9d1" />
<stop offset="0.58" stop-color="#90a1c8" />
<stop offset="0.77" stop-color="#8192b9" />
<stop offset="0.94" stop-color="#6d7ea5" />
<stop offset="1" stop-color="#65769c" />
</linearGradient>
<linearGradient id="linear-gradient-bst-19" x1="0.012" y1="-2.785" x2="1.01" y2="-2.785" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#9bacd4" />
<stop offset="0.37" stop-color="#98a9d1" />
<stop offset="0.59" stop-color="#90a1c9" />
<stop offset="0.77" stop-color="#8293ba" />
<stop offset="0.94" stop-color="#6f80a6" />
<stop offset="1" stop-color="#65769c" />
</linearGradient>
<linearGradient id="linear-gradient-bst-20" x1="0.305" y1="0.721" x2="0.653" y2="0.338" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#0a8a7d" />
<stop offset="0.06" stop-color="#0a9385" />
<stop offset="0.29" stop-color="#0cad9d" />
<stop offset="0.51" stop-color="#0dc0af" />
<stop offset="0.75" stop-color="#0ecbb9" />
<stop offset="1" stop-color="#0fcfbd" />
</linearGradient>
<linearGradient id="linear-gradient-bst-21" x1="0.327" y1="1.218" x2="0.539" y2="0.272" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#0a8a7d" />
<stop offset="0.15" stop-color="#0b998b" />
<stop offset="0.49" stop-color="#0db6a6" />
<stop offset="0.79" stop-color="#0ec8b7" /> 
<stop offset="1" stop-color="#0fcfbd" />
</linearGradient>
<radialGradient id="radial-gradient-bst" cx="0.838" cy="0.3" fx="0.4724483788013458" fy="0.6189364790916443" r="0.694" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#9c5011" />
<stop offset="0.19" stop-color="#974d10" />
<stop offset="0.41" stop-color="#89460e" />
<stop offset="0.65" stop-color="#723a0c" />
<stop offset="0.82" stop-color="#5c2f0a" />
</radialGradient>
<radialGradient id="radial-gradient-bst-2" cx="-41.741" cy="0.5" r="0.5" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#9c5011" />
<stop offset="0.22" stop-color="#964c10" />
<stop offset="0.52" stop-color="#85440e" />
<stop offset="0.85" stop-color="#6a360b" />
<stop offset="1" stop-color="#5c2f0a" />
</radialGradient>
<radialGradient id="radial-gradient-bst-3" cx="-427.829" cy="0.429" r="0.429" xlink:href="#radial-gradient-bst-2" />
<radialGradient id="radial-gradient-bst-4" cx="0.506" cy="0.513" r="0.42" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#6e380d" />
<stop offset="0.27" stop-color="#60310b" />
<stop offset="0.78" stop-color="#3d1e06" />
<stop offset="0.88" stop-color="#361b06" />
</radialGradient>
<radialGradient id="radial-gradient-bst-5" cx="0.999" cy="0.499" r="0.745" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#9c5011" />
<stop offset="0.28" stop-color="#984e10" />
<stop offset="0.51" stop-color="#8e480f" />
<stop offset="0.73" stop-color="#7c3f0d" />
<stop offset="0.94" stop-color="#63320a" />
<stop offset="1" stop-color="#5c2f0a" />
</radialGradient>

<linearGradient id="linear-gradient-bst-23" x1="1.183" y1="0.121" x2="-0.082" y2="1.103" xlink:href="#linear-gradient-bst-22" />
<linearGradient id="linear-gradient-bst-24" x1="0.901" y1="0.312" x2="0.179" y2="0.7" xlink:href="#linear-gradient-bst-22" />
<radialGradient id="radial-gradient-bst-23" cx="0.608" cy="0.275" r="1.218" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#fff" />
<stop offset="1" stop-color="#a8a8a8" />
</radialGradient>
<radialGradient id="radial-gradient-bst-24" cx="0.963" cy="0.526" r="0.778" gradientUnits="objectBoundingBox">
<stop offset="0.36" stop-color="#f3b8ce" />
<stop offset="1" stop-color="#ff7373" />
</radialGradient>
<radialGradient id="radial-gradient-bst-25" cx="0.454" cy="0.579" r="0.594" gradientUnits="objectBoundingBox">
<stop offset="0.45" stop-color="#fbfdfd" />
<stop offset="0.51" stop-color="#f6fafa" />
<stop offset="0.58" stop-color="#e8f5f4" />
<stop offset="0.65" stop-color="#d0ebe8" />
<stop offset="0.73" stop-color="#b0ddd9" />
<stop offset="0.82" stop-color="#85ccc5" />
<stop offset="0.9" stop-color="#52b6ac" />
<stop offset="0.98" stop-color="#169d90" />
<stop offset="1" stop-color="#0b998b" />
</radialGradient>
<linearGradient id="linear-gradient-bst-25" x1="0.531" y1="0.385" x2="0.412" y2="0.586" gradientUnits="objectBoundingBox">
<stop offset="0" />
<stop offset="1" stop-opacity="0" />
</linearGradient>
<linearGradient id="linear-gradient-bst-26" x1="0.2" y1="0.466" x2="0.977" y2="0.541" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#0ec4b3" />
<stop offset="0.75" stop-color="#0ec1b0" />
<stop offset="0.99" stop-color="#0ebeae" />
</linearGradient>
</defs>
<g id="Group_3380" data-name="Group 3380" transform="translate(9170.321 -2720)">
<path id="Union_2" class="bst_union1" data-name="Union 2" d="M-1051.933,212.536l-1.4.848L-1158,13.754s34.168-14.123,50-7.457c13.333-10,45-7.5,60,3.334,5.833-13.334,38.334-10.833,49.167,4.123,0,0,15.834-15.79,40,0,27.5-12.544,37.014,0,37.014,0l58.145,83.072.1-.063,56.155,78.7a65.145,65.145,0,0,1-24.968,45.57c2.6,28.751-18.779,35.318-18.779,35.318,8.12,16.587-4.931,46.457-19.443,45.348,2.524,18.33-10.136,47.464-25.225,54.542-1.547,17.11-38.336,51.058-38.336,51.058Z" transform="translate(-8012.321 3241.08)" fill="url(#linear-gradient-bst-10)" />
<path id="Union_3" class="bst_union2" data-name="Union 3" d="M-1096.709,122.784l-.809.49L-1158,7.946s19.744-8.159,28.893-4.308c7.7-5.777,26-4.333,34.672,1.926,3.371-7.7,22.151-6.258,28.411,2.382,0,0,9.15-9.122,23.114,0,15.891-7.247,21.389,0,21.389,0l33.6,47.992.06-.036,32.449,45.467a37.631,37.631,0,0,1-14.428,26.326c1.5,16.609-10.852,20.4-10.852,20.4,4.692,9.582-2.849,26.839-11.235,26.2,1.458,10.59-5.857,27.42-14.576,31.509-.894,9.885-22.153,29.5-22.153,29.5Z" transform="translate(-7890.321 3279.08)" fill="url(#linear-gradient-bst-11)" />
<path id="Union_3" class="bst_union3" data-name="Union 3" d="M-1051.933,212.536l-1.4.848L-1158,13.754s34.168-14.123,50-7.457c13.333-10,45-7.5,60,3.334,5.833-13.334,38.334-10.833,49.167,4.123,0,0,15.834-15.79,40,0,27.5-12.544,37.014,0,37.014,0l58.145,83.072.1-.063,56.155,78.7a65.145,65.145,0,0,1-24.968,45.57c2.6,28.751-18.779,35.318-18.779,35.318,8.12,16.587-4.931,46.457-19.443,45.348,2.524,18.33-10.136,47.464-25.225,54.542-1.547,17.11-38.336,51.058-38.336,51.058Z" transform="translate(-8012.321 3241.08)" fill="url(#linear-gradient-bst-10)" />
<path id="Union_4" class="bst_union4" data-name="Union 4" d="M-1096.709,122.784l-.809.49L-1158,7.946s19.744-8.159,28.893-4.308c7.7-5.777,26-4.333,34.672,1.926,3.371-7.7,22.151-6.258,28.411,2.382,0,0,9.15-9.122,23.114,0,15.891-7.247,21.389,0,21.389,0l33.6,47.992.06-.036,32.449,45.467a37.631,37.631,0,0,1-14.428,26.326c1.5,16.609-10.852,20.4-10.852,20.4,4.692,9.582-2.849,26.839-11.235,26.2,1.458,10.59-5.857,27.42-14.576,31.509-.894,9.885-22.153,29.5-22.153,29.5Z" transform="translate(-7890.321 3279.08)" fill="url(#linear-gradient-bst-11)" />
<path id="Union_5" class="bst_union5" data-name="Union 5" d="M-1051.933,212.536l-1.4.848L-1158,13.754s34.168-14.123,50-7.457c13.333-10,45-7.5,60,3.334,5.833-13.334,38.334-10.833,49.167,4.123,0,0,15.834-15.79,40,0,27.5-12.544,37.014,0,37.014,0l58.145,83.072.1-.063,56.155,78.7a65.145,65.145,0,0,1-24.968,45.57c2.6,28.751-18.779,35.318-18.779,35.318,8.12,16.587-4.931,46.457-19.443,45.348,2.524,18.33-10.136,47.464-25.225,54.542-1.547,17.11-38.336,51.058-38.336,51.058Z" transform="translate(-8012.321 3241.08)" fill="url(#linear-gradient-bst-10)" />
<path id="Union_6" class="bst_union6" data-name="Union 6" d="M-1096.709,122.784l-.809.49L-1158,7.946s19.744-8.159,28.893-4.308c7.7-5.777,26-4.333,34.672,1.926,3.371-7.7,22.151-6.258,28.411,2.382,0,0,9.15-9.122,23.114,0,15.891-7.247,21.389,0,21.389,0l33.6,47.992.06-.036,32.449,45.467a37.631,37.631,0,0,1-14.428,26.326c1.5,16.609-10.852,20.4-10.852,20.4,4.692,9.582-2.849,26.839-11.235,26.2,1.458,10.59-5.857,27.42-14.576,31.509-.894,9.885-22.153,29.5-22.153,29.5Z" transform="translate(-7890.321 3279.08)" fill="url(#linear-gradient-bst-11)" />
<path id="Union_7" class="bst_union7" data-name="Union 7" d="M-1051.933,212.536l-1.4.848L-1158,13.754s34.168-14.123,50-7.457c13.333-10,45-7.5,60,3.334,5.833-13.334,38.334-10.833,49.167,4.123,0,0,15.834-15.79,40,0,27.5-12.544,37.014,0,37.014,0l58.145,83.072.1-.063,56.155,78.7a65.145,65.145,0,0,1-24.968,45.57c2.6,28.751-18.779,35.318-18.779,35.318,8.12,16.587-4.931,46.457-19.443,45.348,2.524,18.33-10.136,47.464-25.225,54.542-1.547,17.11-38.336,51.058-38.336,51.058Z" transform="translate(-8012.321 3241.08)" fill="url(#linear-gradient-bst-10)" />
<path id="Union_8" class="bst_union8" data-name="Union 8" d="M-1096.709,122.784l-.809.49L-1158,7.946s19.744-8.159,28.893-4.308c7.7-5.777,26-4.333,34.672,1.926,3.371-7.7,22.151-6.258,28.411,2.382,0,0,9.15-9.122,23.114,0,15.891-7.247,21.389,0,21.389,0l33.6,47.992.06-.036,32.449,45.467a37.631,37.631,0,0,1-14.428,26.326c1.5,16.609-10.852,20.4-10.852,20.4,4.692,9.582-2.849,26.839-11.235,26.2,1.458,10.59-5.857,27.42-14.576,31.509-.894,9.885-22.153,29.5-22.153,29.5Z" transform="translate(-7890.321 3279.08)" fill="url(#linear-gradient-bst-11)" />
<path id="Union_9" class="bst_union9" data-name="Union 9" d="M-1051.933,212.536l-1.4.848L-1158,13.754s34.168-14.123,50-7.457c13.333-10,45-7.5,60,3.334,5.833-13.334,38.334-10.833,49.167,4.123,0,0,15.834-15.79,40,0,27.5-12.544,37.014,0,37.014,0l58.145,83.072.1-.063,56.155,78.7a65.145,65.145,0,0,1-24.968,45.57c2.6,28.751-18.779,35.318-18.779,35.318,8.12,16.587-4.931,46.457-19.443,45.348,2.524,18.33-10.136,47.464-25.225,54.542-1.547,17.11-38.336,51.058-38.336,51.058Z" transform="translate(-8012.321 3241.08)" fill="url(#linear-gradient-bst-10)" />
<path id="Union_10" class="bst_union10" data-name="Union 10" d="M-1096.709,122.784l-.809.49L-1158,7.946s19.744-8.159,28.893-4.308c7.7-5.777,26-4.333,34.672,1.926,3.371-7.7,22.151-6.258,28.411,2.382,0,0,9.15-9.122,23.114,0,15.891-7.247,21.389,0,21.389,0l33.6,47.992.06-.036,32.449,45.467a37.631,37.631,0,0,1-14.428,26.326c1.5,16.609-10.852,20.4-10.852,20.4,4.692,9.582-2.849,26.839-11.235,26.2,1.458,10.59-5.857,27.42-14.576,31.509-.894,9.885-22.153,29.5-22.153,29.5Z" transform="translate(-7890.321 3279.08)" fill="url(#linear-gradient-bst-11)" />
<g id="Group_762" class="bst_rocket" data-name="Group 762" transform="translate(-9403.682 22.347)">
<path id="Path_968" data-name="Path 968" d="M77.961,144.734c-36.4-31.106-90.01-100.66-75.54-117.595S93.956,52.3,130.36,83.409Z" transform="translate(465.682 3043)" fill="url(#linear-gradient-bst)" />
<path id="Path_969" data-name="Path 969" d="M183.549,295.093c16.9,44.8,64.452,118.713,85.691,110.7s8.123-94.914-8.778-139.716Z" transform="translate(465.682 3043)" fill="url(#linear-gradient-bst-2)" />
<path id="Path_970" data-name="Path 970" d="M166.459,329.085,41.531,151.187a28.272,28.272,0,0,1,6.89-39.385s51.918-44.137,109.734-67.848C267.672-.961,410.5-13.239,430.8,15.672c18.924,26.947-34.053,147.271-119.117,234.075-37.453,38.218-105.844,86.227-105.844,86.227a28.272,28.272,0,0,1-39.385-6.889" transform="translate(465.682 3043)" fill="url(#linear-gradient-bst-3)" />
<path id="Path_971" data-name="Path 971" d="M409.181,112.432c22.29-45.264,31.239-83.066,21.624-96.759C421.657,2.646,384.547-3.154,332.507,1.7" transform="translate(465.682 3043)" fill="url(#linear-gradient-bst-4)" />
<rect id="Rectangle_280" data-name="Rectangle 280" width="434.636" height="406.395" transform="translate(465.682 3043)" fill="none" />
<g id="Group_761" data-name="Group 761" transform="translate(465.682 3043)">
<g id="Group_760" data-name="Group 760" clip-path="url(#clip-path-bst)">
<path id="Path_972" data-name="Path 972" d="M299.229,319.452s-61.893-75.258-101.788-132.069S99.26,34.694,99.26,34.694l18.474-12.973s56.379,93.846,98.181,152.689S317.7,306.479,317.7,306.479Z" fill="url(#linear-gradient-bst-5)" />
<path id="Path_973" data-name="Path 973" d="M250.7,347.8S188.8,272.541,148.909,215.73,50.728,63.041,50.728,63.041L69.2,50.068s56.379,93.846,98.181,152.689S269.171,334.826,269.171,334.826Z" fill="url(#linear-gradient-bst-6)" />
</g>
</g>
<path id="Path_975" data-name="Path 975" d="M336.611,101.53a39.506,39.506,0,1,1-39.506-39.506,39.506,39.506,0,0,1,39.506,39.506" transform="translate(465.682 3043)" fill="url(#linear-gradient-bst-7)" />
<path id="Path_976" data-name="Path 976" d="M325.04,101.53A27.935,27.935,0,1,1,297.105,73.6,27.935,27.935,0,0,1,325.04,101.53" transform="translate(465.682 3043)" fill="#ccc" />
<path id="Path_977" data-name="Path 977" d="M132.25,341.592,18.154,179.118s7.2,1.09,17.285-6C44.63,166.669,46.947,158.9,46.947,158.9l114.1,162.472a40.092,40.092,0,0,0-17.285,6c-7.558,4.954-11.508,14.223-11.508,14.223" transform="translate(465.682 3043)" fill="url(#linear-gradient-bst-8)" />
<rect id="Rectangle_363" data-name="Rectangle 363" width="220" height="19" rx="9.5" transform="matrix(0.574, 0.819, -0.819, 0.574, 478.959, 3213.522)" fill="url(#linear-gradient-bstrocket-11)" />
</g>
<path id="Path_1026" class="bst_cloud1" data-name="Path 1026" d="M92.427,57s-2.2-11.354-12.086-15.382-16.115,1.1-17.58,4.761S60.93,56.266,55.437,53.7s-7.692-5.494-14.65-2.564S36.026,60.294,30.9,61.393s-3.3-1.831-8.789-1.1-5.128,4.029-6.593,5.86-1.465.366-6.592,1.1A16.181,16.181,0,0,0,.5,71.281H113.669s2.93-5.859-4.761-10.254S94.624,61.393,92.427,57" transform="translate(-8805.217 2679.856)" fill="url(#linear-gradient-bst-12)" />
<path id="Path_1027" class="bst_cloud2" data-name="Path 1027" d="M98.125,58.043S95.792,45.985,85.29,41.707s-17.114,1.167-18.67,5.056-1.944,10.5-7.778,7.779-8.169-5.835-15.558-2.723-5.056,9.724-10.5,10.891-3.5-1.944-9.334-1.167-5.446,4.279-7,6.223-1.556.389-7,1.167A17.184,17.184,0,0,0,.5,73.211H120.684s3.112-6.222-5.056-10.89-15.169.389-17.5-4.279" transform="translate(-8961.883 2764.255)" fill="url(#linear-gradient-bst-12)" />
<path id="Path_1028" class="bst_cloud3" data-name="Path 1028" d="M50.2,49.256s-1.188-6.138-6.534-8.316-8.713.594-9.5,2.574-.99,5.346-3.96,3.96-4.159-2.97-7.92-1.386-2.574,4.95-5.346,5.544-1.782-.99-4.752-.594S9.41,53.216,8.618,54.206s-.792.2-3.564.594A8.748,8.748,0,0,0,.5,56.978H61.684s1.584-3.168-2.574-5.544-7.723.2-8.91-2.178" transform="translate(-8630.248 2765.288)" fill="url(#linear-gradient-bst-12)" />
<g id="Group_812" class="bst_coin3" data-name="Group 812" transform="translate(-10017.464 2522.496)">
<g id="Group_32" data-name="Group 32" transform="translate(1192.389 273.079)">
<path id="Path_66" data-name="Path 66" d="M-1437.821-2450.4a12.693,12.693,0,0,1-12.679-12.678,12.694,12.694,0,0,1,12.679-12.679,12.694,12.694,0,0,1,12.679,12.679A12.693,12.693,0,0,1-1437.821-2450.4Zm0-23.515a10.849,10.849,0,0,0-10.836,10.837,10.848,10.848,0,0,0,10.836,10.836,10.848,10.848,0,0,0,10.836-10.836A10.849,10.849,0,0,0-1437.821-2473.917Z" transform="translate(1450.5 2475.76)" fill="#ccc" />
</g>
<g id="Group_36" data-name="Group 36" transform="matrix(0.998, 0.07, -0.07, 0.998, 1198.361, 267.619)">
<path id="Path_70" data-name="Path 70" d="M2.4,3.845a.92.92,0,0,1-.742-.374l-1.477-2A.921.921,0,1,1,1.663.375l1.477,2A.921.921,0,0,1,2.4,3.845Z" fill="#ccc" />
</g>
<g id="Group_415" data-name="Group 415" transform="translate(1212.075 267.435) rotate(70)">
<path id="Path_70-2" data-name="Path 70" d="M2.4,3.845a.92.92,0,0,1-.742-.374l-1.477-2A.921.921,0,1,1,1.663.375l1.477,2A.921.921,0,0,1,2.4,3.845Z" fill="#ccc" />
</g>
<g id="Group_40" data-name="Group 40" transform="translate(1201.673 278.917)">
<g id="Group_37" data-name="Group 37" transform="translate(0 1.378)">
<path id="Path_71" data-name="Path 71" d="M-1346.3-2386.345a3.648,3.648,0,0,1-3.382-2.4.921.921,0,0,1,.56-1.177.921.921,0,0,1,1.177.559,1.826,1.826,0,0,0,1.646,1.171,1.416,1.416,0,0,0,1.511-1.511c0-.617-.572-1.05-1.7-1.288-1.922-.4-3.164-1.681-3.164-3.253,0-2.028,1.223-3.192,3.354-3.192a3.356,3.356,0,0,1,3.291,2.438.921.921,0,0,1-.623,1.145.921.921,0,0,1-1.145-.623,1.512,1.512,0,0,0-1.524-1.117c-1.27,0-1.511.474-1.511,1.349,0,.663.668,1.232,1.7,1.45,2.753.58,3.164,2.185,3.164,3.091A3.244,3.244,0,0,1-1346.3-2386.345Z" transform="translate(1349.732 2397.432)" fill="#ccc" />
</g>
<g id="Group_38" data-name="Group 38" transform="translate(2.433 0)">
<path id="Path_72" data-name="Path 72" d="M-1322.406-2409.416a.921.921,0,0,1-.921-.921v-1.135a.921.921,0,0,1,.921-.921.921.921,0,0,1,.921.921v1.135A.921.921,0,0,1-1322.406-2409.416Z" transform="translate(1323.327 2412.393)" fill="#ccc" />
</g>
<g id="Group_39" data-name="Group 39" transform="translate(2.433 10.703)">
<path id="Path_73" data-name="Path 73" d="M-1322.406-2293.245a.922.922,0,0,1-.921-.922v-1.135a.921.921,0,0,1,.921-.921.921.921,0,0,1,.921.921v1.135A.922.922,0,0,1-1322.406-2293.245Z" transform="translate(1323.327 2296.223)" fill="#ccc" />
</g>
</g>
</g>
<g id="Group_817" class="bst_coin2" data-name="Group 817" transform="translate(-10121.553 3062.965) rotate(-21)">
<g id="Group_32-2" data-name="Group 32" transform="translate(1192.389 273.079)">
<path id="Path_66-2" data-name="Path 66" d="M-1437.821-2450.4a12.693,12.693,0,0,1-12.679-12.678,12.694,12.694,0,0,1,12.679-12.679,12.694,12.694,0,0,1,12.679,12.679A12.693,12.693,0,0,1-1437.821-2450.4Zm0-23.515a10.849,10.849,0,0,0-10.836,10.837,10.848,10.848,0,0,0,10.836,10.836,10.848,10.848,0,0,0,10.836-10.836A10.849,10.849,0,0,0-1437.821-2473.917Z" transform="translate(1450.5 2475.76)" fill="#ccc" />
</g>
<g id="Group_36-2" data-name="Group 36" transform="matrix(0.998, 0.07, -0.07, 0.998, 1198.361, 267.619)">
<path id="Path_70-3" data-name="Path 70" d="M2.4,3.845a.92.92,0,0,1-.742-.374l-1.477-2A.921.921,0,1,1,1.663.375l1.477,2A.921.921,0,0,1,2.4,3.845Z" fill="#ccc" />
</g>
<g id="Group_415-2" data-name="Group 415" transform="translate(1212.075 267.435) rotate(70)">
<path id="Path_70-4" data-name="Path 70" d="M2.4,3.845a.92.92,0,0,1-.742-.374l-1.477-2A.921.921,0,1,1,1.663.375l1.477,2A.921.921,0,0,1,2.4,3.845Z" fill="#ccc" />
</g>
<g id="Group_40-2" data-name="Group 40" transform="translate(1201.673 278.917)">
<g id="Group_37-2" data-name="Group 37" transform="translate(0 1.378)">
<path id="Path_71-2" data-name="Path 71" d="M-1346.3-2386.345a3.648,3.648,0,0,1-3.382-2.4.921.921,0,0,1,.56-1.177.921.921,0,0,1,1.177.559,1.826,1.826,0,0,0,1.646,1.171,1.416,1.416,0,0,0,1.511-1.511c0-.617-.572-1.05-1.7-1.288-1.922-.4-3.164-1.681-3.164-3.253,0-2.028,1.223-3.192,3.354-3.192a3.356,3.356,0,0,1,3.291,2.438.921.921,0,0,1-.623,1.145.921.921,0,0,1-1.145-.623,1.512,1.512,0,0,0-1.524-1.117c-1.27,0-1.511.474-1.511,1.349,0,.663.668,1.232,1.7,1.45,2.753.58,3.164,2.185,3.164,3.091A3.244,3.244,0,0,1-1346.3-2386.345Z" transform="translate(1349.732 2397.432)" fill="#ccc" />
</g>

</g>
</g>
</g>
</svg> </div>
</div>
<div class="right_panel">
<div class="bst_bx">
<div class="earn_stp">
<div class="round_bx a">
<div class="gradient"></div>
<svg class="bst_arr_img" xmlns="http://www.w3.org/2000/svg" width="31.538" height="18.981" viewBox="0 0 31.538 18.981">
<path class="arrow" id="Union_20" data-name="Union 20" d="M10333.127-983.378a1,1,0,0,1,.386-1.36l6.107-3.421a1,1,0,0,1,1.36.382,1,1,0,0,1-.383,1.363l-6.107,3.421a1.009,1.009,0,0,1-.489.128A1,1,0,0,1,10333.127-983.378Zm12.216-6.841a1,1,0,0,1,.382-1.363l6.107-3.421a1,1,0,0,1,1.363.385,1,1,0,0,1-.385,1.36l-6.107,3.421a.973.973,0,0,1-.486.127A1,1,0,0,1,10345.343-990.219Zm6.159-11.627,13.037.577-7.2,10.888Z" transform="translate(-10333.001 1001.846)" fill="#0fc7b6" />
</svg> <div class="rnd">
Register
</div>
</div>
<div class="round_bx b">
<div class="gradient"></div>
<svg class="bst_arr_img" xmlns="http://www.w3.org/2000/svg" width="31.538" height="18.981" viewBox="0 0 31.538 18.981">
<path class="arrow" id="Union_20" data-name="Union 20" d="M10333.127-983.378a1,1,0,0,1,.386-1.36l6.107-3.421a1,1,0,0,1,1.36.382,1,1,0,0,1-.383,1.363l-6.107,3.421a1.009,1.009,0,0,1-.489.128A1,1,0,0,1,10333.127-983.378Zm12.216-6.841a1,1,0,0,1,.382-1.363l6.107-3.421a1,1,0,0,1,1.363.385,1,1,0,0,1-.385,1.36l-6.107,3.421a.973.973,0,0,1-.486.127A1,1,0,0,1,10345.343-990.219Zm6.159-11.627,13.037.577-7.2,10.888Z" transform="translate(-10333.001 1001.846)" fill="#0fc7b6" />
</svg> <div class="rnd">
Train
</div>
</div>
<div class="round_bx c">
<div class="gradient"></div>
<svg class="bst_arr_img" xmlns="http://www.w3.org/2000/svg" width="31.538" height="18.981" viewBox="0 0 31.538 18.981">
<path class="arrow" id="Union_20" data-name="Union 20" d="M10333.127-983.378a1,1,0,0,1,.386-1.36l6.107-3.421a1,1,0,0,1,1.36.382,1,1,0,0,1-.383,1.363l-6.107,3.421a1.009,1.009,0,0,1-.489.128A1,1,0,0,1,10333.127-983.378Zm12.216-6.841a1,1,0,0,1,.382-1.363l6.107-3.421a1,1,0,0,1,1.363.385,1,1,0,0,1-.385,1.36l-6.107,3.421a.973.973,0,0,1-.486.127A1,1,0,0,1,10345.343-990.219Zm6.159-11.627,13.037.577-7.2,10.888Z" transform="translate(-10333.001 1001.846)" fill="#0fc7b6" />
</svg> <div class="rnd">
Work on Projects
</div>
</div>
<div class="round_bx d">
<div class="gradient"></div>
<div class="rnd">
Earn
</div>
</div>
</div>
<div class="chk_lst">
<h3 class="h3">Nerdy checklist</h3>
<ul class="step_ui">
<li class="a"><span></span>Freelancing experience</li>
<li class="b"><span></span>Focused academic writing</li>
<li class="c"><span></span>Subject knowledge</li>
<li class="d"><span></span>Work commitment</li>
<li class="e"><span></span>Authentic outputs</li>
<li class="f"><span></span>Accessibility</li>
</ul>
</div>
<div class="btn_ar">
<button onclick="window.open({% url 'signup' %}, '_blank')" type="button" class="btn_primary">Start Now</button>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="earnings_ar">
<div class="container">
<div class="main_cont">
<svg class="earn_bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1125" height="370" viewBox="0 0 1125 370">
<defs>
<clipPath id="er_clip-path">
<rect id="Rectangle_302" data-name="Rectangle 302" width="1125" height="370" rx="26" transform="translate(3294 3647)" fill="#515151" />
</clipPath>
</defs>
<g id="Mask_Group_492" data-name="Mask Group 492" transform="translate(-3294 -3647)" clip-path="url(#er_clip-path)">
<path id="Path_1032" data-name="Path 1032" d="M1208.382,4062.727c10.985-23.8,135.485-131.824,477.86-214.213s551.1-3.662,730.522-168.441v382.655Z" transform="translate(2043.927 -14.4)" fill="#fff" opacity="0.26" />
<path id="Path_1033" data-name="Path 1033" d="M1208.382,4062.727c10.985-23.8-3.7-292.985,320.368-245.382s708.588,324.068,888.014,159.287v86.095Z" transform="translate(2010.927 -45.727)" fill="#fff" opacity="0.26" />
</g>
</svg> <div class="cont_ar">
<div class="graw_bx d-flex">
<div class="bx_ar">
<div class="bx">
<h5>Projects done</h5>
<p><span class="earn_data" id="counter">11156</span></p>
</div>
</div>
<div class="bx_ar">
<div class="bx">
<h5>Quality score</h5>
<p><span class="earn_data" id="counter1">9</span>.4/10</p>
</div>
</div>
<div class="bx_ar">
 <div class="bx">
<h5>We are growing</h5>
<p><span class="earn_data" id="counter2">305</span></p>
</div>
</div>
</div>
<h2 class="text-center h">80% Freelancers earning $1000 per month</h2>
<h2 class="text-center h2">Start Earning Today</h2>
<div class="btn_ar text-center">
<button onclick="window.open({% url 'signup' %}, '_blank')" type="button" class="btn_primary">Start Now</button>
</div>
</div>
</div>
</div>
</section> <footer>
<div class="waves">

<title>Wave</title>
<defs>
<linearGradient id="gradient1" x1="0.5" y1="-1.216" x2="0.5" y2="0.761">
<stop offset="0%" stop-color="#0fc7b6" stop-opacity="1" />
<stop offset="100%" stop-color="#fff" />
</linearGradient>
</defs>
<path id="feel-the-wave" d="" />
</svg> <svg width="100%" class="bg_wave_footer_a" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
<title>Wave</title>
<defs>
<linearGradient id="gradient1_a" x1="0.5" y1="-1.216" x2="0.5" y2="0.361">
<stop offset="0%" stop-color="#0fc7b6" stop-opacity="1" />
<stop offset="100%" stop-color="#fff" />
</linearGradient>
</defs>
<path id="feel-the-wave_a" d="" />
</svg> </div>
<div class="ft_ar">
<div class="container">
<div class="main_cont">
<div class="row">
<div class="col left_panel">
<div class="lgo">
<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
<span class="h1 fw-bold mb-0">Elite Nerdy Turtles</span>
</div>

<div class="social">
<h6>Follow us</h6>
<ul class="social_lst">
 <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="#!"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="#!"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="#!"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="#!"
               role="button"
               ><i class="fab fa-github"></i
              ></a>
</div>
</div>
<div class="col right_panel">
<div class="link_bx show">
<h6 class="lnc show">Elite NerdyTurtlez <span></span></h6>
<ul class="links show" style="display: block;">
<li><a href="#">About us</a></li>
<li><a href="#">Terms of use</a></li>
<li><a href="#">Privacy policy</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>
<div class="link_bx">
<h6 class="lnc">Writing <span></span></h6>
<ul class="links">
<li><a href="#">Training</a></li>
<li><a href="#">Payments</a></li>
<li><a href="#" target="_blank">Join </a></li>

<li><a href="#">FAQs</a></li>
</ul>
</div>
<div class="link_bx">
<h6 class="lnc">Contacts <span></span></h6>

<p><i class="fas fa-home mr-3"></i> Parklands, Nairobi, Kenya</p>
<p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
<p><i class="fas fa-phone mr-3"></i> +  254 76 567 188</p>
<p><i class="fas fa-print mr-3"></i> + 254 75167 89</p>

            

</div>
</div>
</div>
</div>
<div class="copyright">
<p>&copy; 2022 Elite NerdyTurtlez.com All rights reserved.</p>
</div>
</div>
</div>
</footer>
</div>
<script src="https://nerdyturtlez.com/assets/js/index.js"></script>
<script src="https://nerdyturtlez.com/assets/js/vendor/smartwizard/js/jquery.smartWizard.js"></script>
<script src="https://nerdyturtlez.com/assets/js/custom.js?v=1"></script>
<script type="text/javascript">
    function reCaptchaOnFocus(){
      var head = document.getElementsByTagName('head')[0]
      var script = document.createElement('script')
      script.type = 'text/javascript';
      script.src = 'https://www.google.com/recaptcha/api.js'
      head.appendChild(script);
    };
    $(document).ready(function() {
        setTimeout(function(){ reCaptchaOnFocus(); }, 2000);
    });
</script>
</body>
</html>