
{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Academic Freelance Writing Jobs | Online writing jobs | Elite Writers</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div class="navigationMenu">
<div class="mainMenu">
<div class="bottomNavigator">
<div class="middleContent">
<ul class="logoWrapper leftContainer">
<li><a href="/."><img alt="elite writers" src="/assets/images/logo.png"></a></li>
</ul>
<ul class="rightContainer">
<li><a href="/login.html">login</a></li>
<li><a href="/contacts.html">Contacts</a></li>
<li><a href="/about-us.html">about</a></li>
<li><a href="/faq.html">faq</a></li>
<li><a href="/">home</a></li>
</ul>
</div>
</div>
</div>

<div class="mobileNavigation">
<div class="middleContent">
<a href="/."><img alt="elite writers" src="/assets/images/logo.png"></a>
<i class="icon-menu mobileMenuTrigger"></i>
<ul class="mobileMenuWrapper">
<li><a href="/">home</a></li>
<li><a href="/faq.html">faq</a></li>
<li><a href="/about-us.html">about</a></li>
<li><a href="/contacts.html">Contacts</a></li>
<li><a href="/login.html">login</a></li>
</ul>
</div>
</div>

</div>

<div id="mainWrapper">
<div id="contentWrapper">


<div class="landingBanner">
<div class="middleContent">
<div class="landingWrapper">
<h1>
Academic Freelance Online Jobs
</h1>
<div class="topWrapper">
Get paid for every word you write from today!
</div>
<div class="bottomWrapper">
<p><a class="green-button" href="/login/registration.html"> <i class="icon-user-add"></i>join elite writers today</a>
</p>
</div>
</div>
</div>
</div>


<div class="registration-steps">
<div class="middleContent">
<h4 class="allTitles">How to join Elite Writers</h4>
<section class="step-1">
<header><p> <span><i class="icon-signup"></i></span>Registration</p></header>
<ul>
<li> <i class="icon-diamonds"></i>Submit your email to start registration process</li>
<li><i class="icon-diamonds"></i>Fill in you CV, your writing experience is required.</li>
<li><i class="icon-diamonds"></i>Provide Identification documents </li>
</ul>
</section>
<section>
<header><p><span><i class="icon-graduation"></i></span>Test and Skill</p></header>
<ul>
<li> <i class="icon-diamonds"></i>Pass Grammar test. You will answer 20 questions</li>
<li><i class="icon-diamonds"></i>Pass two pages Essay test within 24 hours</li>
<li><i class="icon-diamonds"></i>Fill in your skills or preferred disciplines</li>
</ul>
</section>
<section>
<header><p><span><i class="icon-wand"></i></span>Verification</p></header>
<ul>
<li> <i class="icon-diamonds"></i>Verification of your identity and contact details</li>
<li><i class="icon-diamonds"></i>Verification of your Academic certificates</li>
<li><i class="icon-diamonds"></i>Verification of your grammar and writing skills</li>
</ul>
</section>
<section>
<header><p><span><i class="icon-tools"></i></span>Start Working</p></header>
<ul>
<li> <i class="icon-diamonds"></i> You start working when you pass grammar and essay test</li>
<li><i class="icon-diamonds"></i>You start requesting and taking orders.</li>
<li><i class="icon-diamonds"></i>Receive payments for all orders finished and approved.</li>
</ul>
</section>
</div>
</div>


<div class="benefitsExpectations">
<div class="middleContent">
<section>
<h2 class="allTitles">What we expect from our Online Essay Writers</h2>
<ul>
<li><i class="icon-arrow-right8"></i> Academic writing skills</li>
<p>All our writers are required to have the necessary academic writing skills. The writers are expected to know the variety of writing formats. The standard writing styles are MLA, APA, Harvard, and Chicago/Turbian. You are required to keep up with any modifications on these writing styles.</p>
<li><i class="icon-arrow-right8"></i>Ability to meet deadlines </li>
<p>Our writers are required to be dedicated to their work; they should be able to be quick and accurate typist. As our writer, you should be able to meet short deadlines and still maintain high quality in the paper you have done. You should always be ready to work under strict deadlines.</p>
<li><i class="icon-arrow-right8"></i>Research skills </li>
<p>Our writers are required to have exceptional research skills, and you should have the ability to read and understand the content quickly. They should be able to compile a variety of data and quickly translate it into their words. Having access to an academic library is an added advantage as a freelance writer.</p>
<li><i class="icon-arrow-right8"></i> Honesty & Commitment</li>
<p>We require complete honesty from our writers; our writers should be able to deliver plagiarism free papers that they wrote from scratch. They should also be honest with the clients on their ability to complete the academic paper. They should also be honest on when they will be able to deliver it.</p>
<li><i class="icon-arrow-right8"></i>At least Bachelor's degree</li>
<p>We only recruited individuals who have achieved top academic levels. This is to ensure that we get the best scholars to work for us. Copies of your academic credentials are required during application to be part of our writing team. We require complete honesty during submission of your request.</p>
<li><i class="icon-arrow-right8"></i>Responsibility </li>
<p>We would like our writers to be responsible in the way they handle our clients and carry themselves. We only employ the most professional writers. You can be an excellent writer, but your character may be wanting. We only hire writers who understand the value of being responsible for their action, courteous and professional.</p>
<li><i class="icon-arrow-right8"></i> Effective Communication Skills</li>
<p>We never expect our writers to be online at all times; we are all-human and cannot work throughout the day. However, we do expect that you will quickly respond to the client and attend to what is required of you. It can be very disturbing to the customer when the writer does not respond to their email.</p>
</ul>
</section>
</div>
</div>


<div class="writersRequired">
<div class="middleContent">
<h2 class="allTitles"><i class="icon-bullhorn"></i>Freelance Essay Writers wanted in these fields</h2>
<section class="firstPart">
<header><p>Academic fields needed</p></header>
<p class="details">Apply if you have a college degree in one of the following fields.</p>
<ul>
<li>Accounting & Economics</li>
<li>Law & Criminal justice</li>
<li>World literature & Affairs</li>
<li>English literature</li>
<li>Shakespeare studies</li>
<li>Management & Marketing</li>
</ul>
</section>
<section>
<header><p>More writers needed</p></header>
<p class="details">We need more writers proficient in the following disciplines:</p>
<ul>
<li>Mathematics</li>
<li>Accounting</li>
<li>Finance</li>
<li>Business Statistics</li>
<li>Chemistry</li>
<li> Engineering</li>
</ul>
</section>
</div>
</div>


<div class="advantagesToWriters">
<div class="middleContent">
<div class="theAdvantages">
<h2 class="allTitles">Advantages of Joining Our Freelance Writing Agency</h2>
<dl class="accordion">
<dt>Flexible working hours </dt>
<dd>Our writers can create their working hours to suit their convenience; we understand that as a freelance writer, you may have other sources of income or a full-time job. We leave it to you to fully create your working schedule and be as resourceful as possible.</dd>
<dt>Good pay</dt>
<dd>Our company offers very competitive pay rate to our writers. We ensure that our writers are able to make a meaningful income from their writing. We also offer attractive bonuses to our writers to appreciate their good work every time the customer is certified with the writer’s work.</dd>
<dt>Consistent work</dt>
<dd>One of the main derailing factors in the freelance writing industry is the inability to find steady work. We ensure our writers will get a good workflow all year round. Our constant workflow is because we have established an excellent relationship with our clients who send consistent work all year round.</dd>
<dt>A significant variety of writing fields </dt>
<dd>As a writer, you will have the opportunity to pick what you want to write on from a broad range of academic fields. Whatever the field you have majored in or have interest in, you will work in that area for our client list.</dd>
<dt>Writers support</dt>
<dd>Our writer support team is on standby 24/7 to ensure that our interaction with our writers is always smooth with limited friction. We always listen to our writers’ grievances and suggestions to help our relationship to grow.</dd>
<dt>Quick registration </dt>
<dd>We have an immediate and intensive record of our writers; we aim to create a strong team of writers with the right competence to deliver. Once you submit your registration form, we ensure that we take the shortest time possible to review the application and set you off to finding jobs on our platform.</dd>
<dt>Bi-Monthly pay</dt>
<dd>Our system of paying workers is on a bi-weekly basis, orders completed between 1st and 15th are paid on the 16th or within 4 working days after the 15th. The orders between 16th and 31st are paid on 1st or within 4 business days after the 1st. This payment are paid using your preferred payment method.</dd>
</dl>
</div>
<div class="bottomCallToAction">
<h2>Start Earning More Income Online</h2>
<p><a class="green-button" href="/login/registration.html"> <i class="icon-user-add"></i> create your acccount now</a></p>
</div>
<div class="accountBuyingWarning">
<header>Warning – do not buy Elite Writers accounts</header>
<p>Do not buy a registered accounts. All bought accounts will be closed and payments for such accounts delayed for 45 days. Do not waste your money, the only way to earn at EliteWriters.com is to constantly produce high-quality work.</p>
</div>
</div>
</div>

</div>

</div>


<div class="middleContent">
<section class="loginWrapper loginModal">
<div class="formWrapper">
<header>
<p>Manage Your Orders <span class="closeModal"><i class="icon-close"></i></span></p>
</header>
<form method="post" action="/login/authenticate.html" id="login_form" autocomplete="off">
<p>
<label for="email">Email address:</label>
<input type="text" name="userEmail" id="email" autocomplete="off" placeholder="Enter your email"> </input>
</p>
<p>
<label for='password'>Password:</label>
<input type="password" name="userPassword" id="password" autocomplete="off" placeholder="Enter your password"></input>
</p>
<p>
<footer>
<input type="hidden" value="f9458f77b0fff2c07bcb9cc3fa9a226ad2b00b7d" name="validate_request">
<input name="userLoginRequest" value="67828e43fe8440bbc69ab34275b7ecb72c3b45ba" type="hidden">
<span>Remind <a href="/password-recovery.html"> Password</a> or <a href="/order-now.html"> Order to register</a> </span>
<input name="login" type="submit" id="login" value="log in ">
</footer>
</p>
</form>
<footer>
<ul>
<li>
</li>
<ul>
</footer>
</div>
</section>
</div>
</div>


<div class="footer">
<div class="middleContent">
<section>
<h6>Site map</h6>
<ul>
<li><a href="/.">Essay writing jobs</a></li>
<li><a href="/about.html">About Us</a></li>
<li><a href="/faq.html">FAQ</a></li>
<li><a href="/login.html">Log in</a></li>
</ul>
</section>
<section>
<h6>Useful links</h6>
<ul>
<li><a target="__blank" href="https://owl.english.purdue.edu/owl/resource/560/01/">APA Formatting and Style Guide</a></li>
<li><a target="__blank" href="https://owl.english.purdue.edu/owl/resource/747/01/">MLA Formatting and Style Guide</a></li>
</ul>
</section>
</div>
</div>
<div class="copyrights">
<p>&COPY; 2022 ELite Writers Inc. All Rights Reserved.</p>
<p>18 East 48th Street New York, NY‎</p>
</footer>
</div>
</div>


</div>
<script src="/assets/jquery_ui_lib/jquery-1.9.1-min.js"></script><script src="/assets/plugins_js/jquery.easyModal.js"></script><script src="/assets/js/frontend.js"></script>


</body>
</html>
