{%  extends 'accounts/main.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="page-content-wrapper">
                          

<div class="col-md">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Welcome {{request.user}}</h4>
                                        
<p class="card-title-desc">
Follow the procedure below to activate your account.
<br>
✓ Go to lipa na mpesa <br>
✓ Paybill number 4098949 (Elite Nerdy Turtle) <br>
✓ Account number reference <br>
✓ Amount KSH.450 <br>
✓ Enter M-pesa pin to complete the transaction <br>
✓ Once done, copy the M-PESA code (i.e RA72N6QO2G) and paste it below to activate your account instantly 
</p>
<form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-append">
        
    </div>
    <div class="mb-3">
    <label class="form-label">Transaction Code*</label>
    <div>
        <input data-parsley-type="text" input-mode="text" name="code" type="text" class="form-control" required="" onkeyup="nospaces(this)" placeholder="Enter M-PESA transaction code i.e QBH2C7T2L6"> 
    </div>
</div>


<div class="mb-0">
    <div>
        <button type="submit" name="activate_now" class="btn btn-primary waves-effect waves-light me-1">
            ACTIVATE ACCOUNT
        </button>

     
    </div>
</div>
</form>

<script>
            /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
    //We start indexing at one because CSRF_token is considered and input field 
     */

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Enter transaction code..';
    form_fields[2].placeholder='Amount..pay 350';
    form_fields[3].placeholder='Last Name..';
    form_fields[4].placeholder='Email..';
    form_fields[5].placeholder='+254...';
    form_fields[6].placeholder='Enter password...';
    form_fields[7].placeholder='Re-enter Password...';


    for (var field in form_fields){ 
      form_fields[field].className += ' form-control'
    }
  </script>
{% endblock %}