<br>

<div class="row" >
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">USERNAME:</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{request.user}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">STATUS:</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">Inactive</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">ORDERS</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>


	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">BALANCE</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">Ksh: {{balance_r.balance|floatformat:2}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>